body {
  width: 45%;
  margin: 60px auto;
}

.header {
  text-align: center;

  h1 {
    font-size: 3em; 
    color: #56b2fe; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin-bottom: 30px; 
    animation: fadeIn 1.5s ease-in-out; /* 添加淡入动画 */
  }
}

.addTodo{
  margin-bottom: 40px;
  .addTodo-input{
    border-radius: 60px;
    height: 60px;
    border-width: 2px;
  }
}

.todoText {
  font-size: 20px;
  font-family: 'yjsz'; 
}

.todoText-Complete {
  color: rgb(157, 157, 157);  
  text-decoration: line-through;
}


.todo-item{
  display: flex;
  justify-content: space-between;

  .checkbox{
    flex: 1;

    .editInput{
      font-size: 20px;
    }  
  }

  .icon{
    margin: 0 10px;
    display: flex;

    .delete-icon{
      font-size: large;
    }
    .edit-icon{
      margin-right: 20px;
      font-size: large;
    }
  }
}
